.expand-container {
    grid-column-gap: 120px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    justify-content: space-between;
    padding-bottom: 32px;
    padding-top: 32px;
    transition: border-color .3s;
    display: flex;
    cursor: pointer;
}

.expand-container:hover {
    border-bottom: 1px solid #fff;
}

.que-title {
    h1 {
        font-size: 20px;
        font-weight: 500;
        line-height: 110%;
    }
}

.expanded-content {
    max-height: 0;
    overflow: hidden;
    transition: margin-top 0.5s, max-height 0.5s ease-in-out;
}

.expanded {
    margin-top: 2%;
    max-height: 500px;
    transition: margin-top 1s, max-height 1s ease-in-out;
}

.exp-head {
    width: 100%;
    grid-column-gap: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.section-text {
    width: 100%;
}

.que-icon {
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    float: right;
}

.vertical-line {
    width: 1px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    -webkit-transition: transform .4s ease-in-out;
}

.vertical-line-exp {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(90deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    -webkit-transition: transform .4s ease-in-out;
}

.horizontal-line {
    width: 15px;
    height: 1px;
    background-color: #fff;
}