#main {
    .first-container {
        margin: 1rem;
        background-color: #0a0a0a;
        border-radius: 8px;
        height: 85vh;
    }
}

@media only screen and (max-width: 950px) {
    #main {
        .first-container {
            height: 95vh;
        }
    }
}