.header {
    margin: 1rem 5% 0 5%;

    .dot {
        width: 0.5rem;
        height: 0.5rem;
        background-color: #fff;
        border-radius: 50%;
    }

    .nav {
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 50px;
        padding: 2px;

        a {
            color: var(--nav-color);
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            padding: 0.5rem 1.2rem;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            transition: background-color .5s, color .5s;
        }

        a:hover {
            color: var(--nav-hover);
        }
    }

    .logo-name {
        div {
            font-size: 16px;
            line-height: 100%;
        }

        span {
            font-size: 13px;
            line-height: 100%;
        }
    }

    .action {
        display: none;
    }

    .contact-text {
        color: var(--nav-hover);
        font-size: 14px;
        text-decoration: none;
        font-weight: 400;
        transition: background-color .3s, color .3s;
    }

    .contact-text:hover {
        color: var(--nav-color);
    }
}

@media only screen and (max-width: 950px) {
    .header {
        .nav {
            display: none;
        }

        .contact {
            a {
                display: none;
            }

            .action {
                display: block;

                div {
                    width: 30px;
                    background-color: #fff;
                    height: 1px;
                    -webkit-transition: transform .4s ease-in-out;
                }

                .top-line {
                    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                }

                .bottom-line {
                    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                }

                .top-line-open {
                    transform: translate3d(0px, 7px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                }

                .bottom-line-open {
                    transform: translate3d(0px, -7px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                }

                .middle-line {
                    opacity: 1;
                }

                .middle-line-open {
                    opacity: 0;
                }
            }
        }
    }
}